@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lato&family=MedievalSharp&display=swap');

body {
  background-color: #FDCB60;
  margin: 0;
  box-sizing: border-box;
}

body, header, footer {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, #welcome {
  text-align: center;
}

header h1 {
  color: #FDB515;
  font-family: 'MedievalSharp', cursive;
  font-size: 600%;
  margin-bottom: 0;
  text-shadow: 0px 0px 5px black;
}

header h2 {
  color: #FDB515;
  font-family: 'Courgette', cursive;
  text-shadow: 0px 0px 10px black;
  font-size: 200%;
}

#banner {
  position: relative;
  display: inline-block;
}

#banner img{
  width: 100%;
  filter: blur(1px) brightness(80%);
  display: block;
}

#banner span {
  position: absolute;
  top: 50%; left: 0; right: 0;
  transform: translate(0 ,-50%);
  z-index: 2;

}

p {
  text-align: justify;
}

nav {
  margin: 0;
  flex: 100%;
  background-color: #3D2B05;
  text-align: left;
  overflow: hidden;
  font-family: calibri, tahoma;
}

nav a {
  color: #E3A112;
}

nav>ul {
  display: flex;
  flex-direction: row;
}

nav>ul li {
  list-style-type: none;
  margin-left: 3px;
}

nav>ul li:hover {
  border-bottom: 1px solid #E3A112;
  margin-bottom: -1px;
}

nav>ul li a {
  display: block;
  padding: 4pt;
  text-decoration: none;
}

nav>ul li li {
  margin: 0;
}

nav>ul li li:nth-child(n) {
  border-top: 1px solid white;
}

nav>ul li li:first-child {
  border-top: 1px solid #BD860F;
}

nav>ul li li a {
  width: 160px;
  color: #3D2B05;
}

nav>ul li li:hover {
  background: white;
}

nav>ul li ul {
  overflow: hidden;
  display: none;
}

nav>ul li:hover ul {
  position: absolute;
  margin-top: 2px;
  z-index: 2;
  background: #BD860F;
  padding: 0;
  display: block;
  width: 177px;
  border-radius: 5px;
}

article h3 {
  margin-top: 0;
}

article h2 {
  margin-bottom: 0;
}

article h2, article h3 {
  color: #3D2B05;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

article {
  margin-top: 20px;
  border: 1px solid #3D2B05;
  box-shadow: 5px 5px 10px #BD860F;
  border-radius: 20px;
  width: 85%;
  padding: 0 10px;
}

#welcome {
  margin: 20px auto;
  color: #3D2B05;
  font-weight: bold;
  font-style: italic;
  font-family: 'Courgette', cursive;
  font-size: 400%;
}

article p {
  font-family: 'Lato', sans-serif;
  text-align: center;
}
